Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37

test:notebooks:py35:latest:
  stage: test
  needs:
  - package:docs
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e latest-notebooks
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:install:whl:py35:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

test:install:whl:py36:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

scikit-learn 0.22 is now installed by default by tox.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

pytorch v1.4 is now installed for python 3.8 compatibility
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Update .gitlab-ci.yml with test:install jobs for python 3.8
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

test:install:whl:extras:py38 now does not install cleverhans.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

matplotlib >= 3 is now installed by default.
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Fixed position of py38 jobs in gitlab-ci
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

tox.ini now installs the appropriate minimum version of matplotlib for each python version.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Raised minimum version of pytest-cov to 2.9 for python 3.8 compatibility.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Raised minimum version of torchvision to 0.5 (which corresponds to pytorch 1.4)
  README.md
  setup.py
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Removed keyword frameon from `CFigure.savefig` as it is deprecated in matplotlib >= 3.1
  src/secml/figure/c_figure.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#874 Fixed `TestCSecEval` breaking if `cleverhans` is not installed do to wrong imports at module level.
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Removed keyword papertype from `CFigure.savefig` as it is deprecated in matplotlib >= 3.3
  src/secml/figure/c_figure.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Removed unnecessary parameter `cmap` from call to colorbar in `plot_fun` (the `cmap` is set by `contourf` anyway). It also got deprecated in matplotlib 3.3.
  src/secml/figure/_plots/c_plot_fun.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#875 Removed keyword `frameon` from `CFigure.savefig` as it is deprecated in matplotlib >= 3.1.
  src/secml/figure/c_figure.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#875 Removed keyword `papertype` from `CFigure.savefig` as it is deprecated in matplotlib >= 3.3.
  src/secml/figure/c_figure.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#875 Removed unnecessary parameter `cmap` from call to colorbar in `plot_fun` (the `cmap` is set by `contourf` anyway). It also got deprecated in matplotlib 3.3.
  src/secml/figure/_plots/c_plot_fun.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Updated setup.py so that it is specified we now support python 3.5, 3.6, 3.7 and 3.8.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Updated README with references to python 3.8
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#876 Fixed `TestCClassifierDNR` not skipped if `pytorch` is not installed.
  src/secml/ml/classifiers/reject/tests/test_c_classifier_dnr.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Removed wrongly added pin of Pillow < 7
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Restored constraint on torch version 1.5 and torchvision 0.6 in the form of a "!=" definition, to fix compatiblity with windows and ubuntu 16.04.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added missing artifacts definition for test:py38:min
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Testing separate gitlabci cache to fix random error when loading datasets/models.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#877 Added test job to CI which avoids installing extra components.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#878 Updated intersphinx mapping for numpy's documentation.
  docs/source/conf.py
Due: package:docs

#879 Removed unused reference to `models_dict.json` in `MANIFEST.in`.
  MANIFEST.in
Due: package, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#881 Added new `.readthedocs.yml` file to configure the build process of readthedocs.
  .readthedocs.yml
Due: none

#882 Added trigger for secml-zoo's pipeline in secml's `.gitlab-ci.yml`.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#883 Updated unittests of prototype selection methods to be compatible with sklearn v0.24.
  src/secml/data/selection/tests/test_prototypes_selection.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added negative gitignore for zipped archives in prototype selection unittests.
  src/secml/data/selection/tests/.gitignore
  src/secml/data/selection/tests/idx_k-medians_sk0-24.gz
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#884 Tox now invokes `PIP_FIND_LINKS` only on windows to fix wrong pytorch version installed on linux/macos.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#884 CI now calls `py35-win` tox env in `test:py35:latest:win` job.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#885 Added `.mailmap` file to fix duplicated contribution entries in git history.
  .mailmap
Due: none

#886 Torch datasets now stored by `CDataLoaderTorchDataset` in a "pytorch" subfolder of `SECML_DS_DIR` to avoid naming collisions.
  src/secml/data/loader/c_dataloader_torchvision.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#888 Filter warning raised by torchvision mnist loader first time you download.
  src/secml/__init__.py
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#889 Updated `.gitignore` with proper entries for Windows, Linux and macOS.
  .gitignore
Due: none

#887 Filtering the undesired warning raised by `torch.cuda.is_available()` when no GPU is available, raised by PyTorch version 1.7.
  src/secml/__init__.py
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#890 Fixed multiple typos and improved language in the README.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#891 Ability to set `PIP_FIND_LINKS_TORCH` (specific link for pytorch modules) in addition to `PIP_FIND_LINKS`. CI now installs the CPU version of PyTorch.
  .gitlab-ci.yml
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Removed reference to Python 3.5 from README.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
