Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

package:
  stage: package
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
  ...

package:docs:
  stage: package
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
    expire_in: 1 day
  ...

test:py2:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:2
  script: tox -e py2-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py2

test:py35:latest:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py35

test:py35:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py35

test:py36:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py36

test:py37:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py37

test:install:whl:py2:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  image: python:2
  cache:
  ...

test:install:whl:py35:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  image: python:3.5
  cache:
  ...

Fixed few docstrings.
  src/secml/data/loader/c_dataloader_pytorch.py
  src/secml/data/loader/c_dataloader_torchvision.py
  src/secml/ml/classifiers/c_classifier_dnn.py
  src/secml/ml/classifiers/gradients/mixin_classifier_gradient_pytorch.py
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Fixed few imports.
  src/secml/data/loader/__init__.py
  src/secml/data/loader/tests/test_dataloader_pytorch.py
  src/secml/data/loader/tests/test_dataloader_torchvision.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added new CDataLoaderTorchDataset to docs.
  docs/source/secml.data.loader.rst
Due: package:docs

Restored testing package wrongly removed from setup.
  setup.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#605 Extra dependencies are now faked when building documentation to avoid broken references.
  docs/source/conf.py
Due: package:docs

#605 Extra dependencies are now faked when building documentation to avoid broken references.
  tox.ini
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Add explainability methods"
  docs/source/index.rst
  docs/source/secml.explanation.rst
  src/secml/explanation/__init__.py
  src/secml/explanation/c_explainer.py
  src/secml/explanation/c_explainer_gradient.py
  src/secml/explanation/c_explainer_gradient_input.py
  src/secml/explanation/c_explainer_influence_functions.py
  src/secml/explanation/c_explainer_integrated_gradients.py
  src/secml/explanation/tests/__init__.py
  src/secml/explanation/tests/test_c_explainer_gradient.py
  src/secml/explanation/tests/test_c_explainer_gradient_input.py
  src/secml/explanation/tests/test_c_explainer_influence_functions.py
  src/secml/explanation/tests/test_c_explainer_integrated_gradients.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#579 Left side single row/column broadcast is now supported for sparse vs sparse array operations.
  src/secml/array/c_sparse.py
  src/secml/array/tests/test_c_array_sysoverloads.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Add wrapper for DNN classifiers to use them as feature extractors"
  docs/source/secml.ml.features.normalization.rst
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch.py
  src/secml/ml/features/normalization/__init__.py
  src/secml/ml/features/normalization/c_normalizer_dnn.py
  src/secml/ml/features/normalization/tests/test_c_normalizer_dnn.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#606 Updated docs by removing work in progress text.
  README.md
  docs/source/roadmap.rst
Due: package, package:docs, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#608 Added acknowledgements to README.
  README.md
Due: package, package:docs, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added ACK to README
  README.md
Due: package, package:docs, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#538 Added a notebook tutorial on the use of Explainable ML methods provided by the `secml.explanation` package.
  docs/source/tutorials/08-Explanation.nblink
  tutorials/08-Explanation.ipynb
Due: package:docs

Resolve: "Fix spacing between parameter and parameter type in the docs"
  docs/source/conf.py
Due: package:docs

Push VERSION to v0.10-rc1
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Update CHANGELOG.md
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.10
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.10
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.11-dev0
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Remove deprecated methods, function and classes in v0.10"
  src/secml/ml/features/normalization/__init__.py
  src/secml/ml/features/normalization/c_normalizer_mean_std.py
  src/secml/ml/kernel/c_kernel.py
  src/secml/ml/kernel/c_kernel_chebyshev_distance.py
  src/secml/ml/kernel/c_kernel_euclidean.py
  src/secml/ml/kernel/c_kernel_histintersect.py
  src/secml/ml/kernel/c_kernel_laplacian.py
  src/secml/ml/kernel/c_kernel_linear.py
  src/secml/ml/kernel/c_kernel_poly.py
  src/secml/ml/kernel/c_kernel_rbf.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Block python 2 installation"
  .gitlab-ci.yml
  README.md
  setup.py
  tox.ini
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#618 Removed class inheritance from `object` not needed in Python 3.
  src/secml/_globals.py
  src/secml/adv/attacks/evasion/tests/test_c_evasion.py
  src/secml/adv/attacks/evasion/tests/test_evasion_reject.py
  src/secml/adv/attacks/poisoning/tests/test_c_poisoning.py
  src/secml/array/c_array_interface.py
  src/secml/core/c_creator.py
  src/secml/core/decorators.py
  src/secml/core/tests/test_attr_utils.py
  src/secml/ml/c_module.py
  src/secml/ml/classifiers/gradients/mixin_classifier_gradient.py
  src/secml/ml/classifiers/gradients/tests/test_c_classifier_gradient.py
  src/secml/ml/classifiers/reject/tests/test_c_classifier_reject.py
  src/secml/ml/classifiers/tf/c_model_cleverhans.py
  src/secml/ml/peval/metrics/c_roc.py
  src/secml/utils/c_log.py
  src/secml/utils/dict_utils.py
  src/secml/utils/mixed_utils.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#619 Replaced deprecated decorator `abstractproperty` with `abstractmethod`.
  src/secml/array/c_array_interface.py
  src/secml/data/loader/c_dataloader_cifar.py
  src/secml/data/loader/c_dataloader_sklearn.py
  src/secml/ml/classifiers/gradients/tests/test_c_classifier_gradient.py
  src/secml/ml/classifiers/gradients/tests/utils/gradient_test_classes/c_classifier_gradient_test.py
  src/secml/ml/classifiers/loss/c_loss.py
  src/secml/ml/features/normalization/c_normalizer_linear.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#620 Removed any reference to Python 2 division operator and related Python 3 compatibility calls.
  src/secml/adv/attacks/evasion/tests/test_c_evasion.py
  src/secml/array/c_array.py
  src/secml/array/c_array_interface.py
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
  src/secml/array/tests/test_c_array_sysoverloads.py
  src/secml/data/loader/c_dataloader_mnist.py
  src/secml/data/splitter/c_chronological_splitter.py
  src/secml/data/splitter/c_datasplitter_openworld.py
  src/secml/data/splitter/c_train_test_split.py
  src/secml/explanation/c_explainer_integrated_gradients.py
  src/secml/explanation/tests/test_c_explainer_influence_functions.py
  src/secml/figure/_plots/c_plot_metric.py
  src/secml/figure/tests/test_plot_roc.py
  src/secml/ml/features/normalization/c_normalizer_mean_std.py
  src/secml/optim/function/c_function_3hcamel.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect.py
  src/secml/utils/download_utils.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#621 Removed any reference to Python 2 `__nonzero__` method.
  src/secml/array/c_array.py
  src/secml/array/c_array_interface.py
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Add missing reference to CPlotMetric in docs"
  docs/source/secml.figure.rst
  src/secml/figure/_plots/c_plot_metric.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Removed manual repmat on sparse data, since now CArray correctly supports broadcast.
  src/secml/ml/kernel/c_kernel_chebyshev_distance.py
  src/secml/ml/kernel/c_kernel_euclidean.py
  src/secml/ml/kernel/c_kernel_histintersect.py
  src/secml/ml/kernel/c_kernel_laplacian.py
  src/secml/ml/kernel/c_kernel_rbf.py
  src/secml/ml/kernel/tests/c_kernel_testcases.py
  src/secml/ml/kernel/tests/test_c_kernel_chebyshev_distance.py
  src/secml/ml/kernel/tests/test_c_kernel_euclidean.py
  src/secml/ml/kernel/tests/test_c_kernel_histintersect.py
  src/secml/ml/kernel/tests/test_c_kernel_laplacian.py
  src/secml/ml/kernel/tests/test_c_kernel_linear.py
  src/secml/ml/kernel/tests/test_c_kernel_poly.py
  src/secml/ml/kernel/tests/test_c_kernel_rbf.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#631 Data objects are now stored using protocol 4 by `pickle_utils.save`. This protocol adds support for very large objects, pickling more kinds of objects, and some data format optimizations.
  src/secml/utils/pickle_utils.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#631 Removed import of `open` function from `io` module no more needed in Python 3.
  setup.py
  src/secml/__init__.py
  src/secml/array/c_sparse.py
  src/secml/array/tests/test_c_array_saveload.py
  src/secml/array/tests/test_c_ndarray.py
  src/secml/data/loader/c_dataloader_cifar.py
  src/secml/data/loader/c_dataloader_mnist.py
  src/secml/data/loader/c_dataloader_svmlight.py
  src/secml/utils/dict_utils.py
  src/secml/utils/download_utils.py
  src/secml/utils/pickle_utils.py
  src/secml/utils/tests/test_pickle_utils.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#632 Removed import of `print` function from `__future__`, no more needed in Python 3.
  src/secml/array/c_dense.py
  src/secml/array/tests/test_c_array_sysoverloads.py
  src/secml/array/tests/test_csr_sparse.py
  src/secml/parallel/parfor.py
  src/secml/utils/c_log.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#632 Removed deprecation warning about Python 2 which is no more supported.
  src/secml/__init__.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#632 Removed import of deprecated function `inspect.getargspec`.
  src/secml/ml/peval/metrics/c_metric.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#632 Removed not needed try except from `CArray` unittests.
  src/secml/array/tests/test_c_array_sysoverloads.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#632 Removed not needed try except for `MutableMapping` import from `collections.abc`.
  src/secml/utils/dict_utils.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#632 Remove workaround in test_md5 regarding different hash for python 2/3.
  src/secml/utils/tests/test_download_utils.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#611 Fixed `CDataloaderMNIST` crashing depending on the desired number of samples and digits to load.
  src/secml/data/loader/c_dataloader_mnist.py
  src/secml/data/loader/tests/test_dataloader_mnist.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#633 The following dependencies are now required: `numpy >= 1.17`, `scipy >= 1.3.1`, `scikit-learn >= 0.21` `matplotlib = 3`.
  requirements.txt
  tox.ini
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#633 Raised minimum required version of pytest to 5 and pytest-cov to 2.8 accordingly.
  setup.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py2:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35:latest: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py36:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py37:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:install:whl:py2: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py2: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
