Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37

test:notebooks:py35:latest:
  stage: test
  needs:
  - package:docs
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e latest-notebooks
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:install:whl:py35:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

test:install:whl:py36:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

Release v0.13-rc1
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Direction.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Improvement.md
  .gitlab/issue_templates/NewFeature.md
  .gitlab/issue_templates/Refactoring.md
  .gitlab/merge_request_templates/Standard.md
  .gitlab/triage-policies.yml
  .gitlab/triage_extra.rb
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#841 Removed filter of `.gitlab` folder from `release:gitlab-repo` CI job.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '841-remove-filtering-of-gitlab-folder-in-release-gitlab-repo-job' into 'develop'
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.13-rc1
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.13-rc2
  .gitlab-ci.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Direction.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Improvement.md
  .gitlab/issue_templates/NewFeature.md
  .gitlab/issue_templates/Refactoring.md
  .gitlab/merge_request_templates/Standard.md
  .gitlab/triage-policies.yml
  .gitlab/triage_extra.rb
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added CHANGELOG for v0.13
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.13
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.13
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.14-dev0
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#842 Fixed registered mark symbol not displayed correctly in documentation.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#843 Unittests run via tox will now use `Agg` matplotlib backend by default.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#844 Added new CI job `test:py35:latest:win` to run unittests on Gitlab's Windows shared runners.
  .gitlab-ci.yml
  .gitlab/dl-pytorch-chain.p7b
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Temporarily pinned `torch` to version `<1.5` and `torchvision` to version `<0.6` to address compatibility issues with Ubuntu 16.04 and Windows.
  setup.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Modified test_simple so that the code runs inside a function.
  src/secml/test_simple.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '843-use-agg-matplotlib-backend-for-tox-unittests-by-default' into 'develop'
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#846 Use `workflow:rules` templates to run CI jobs only for branches and tags.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#845 Static Application Security Testing (SAST) is now executed during testing process.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#847 Unittests results are now also exported in JUnit format to be readable by Gitlab.
  .gitignore
  .gitlab-ci.yml
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#848 Code quality analysis is now executed during testing process.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '842-fix-registered-mark-symbol-not-displayed-correctly-in-docs' into 'develop'
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.13.post1
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.13.post1
  README.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#850 Fixed `MNIST` typo in notebook 10.
  tutorials/10-Explanation.ipynb
Due: package:docs, test:notebooks:py35:latest

#852 Restored Secret Detection scanner (deprecated from SAST).
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#855 Added new ROC-related performance metrics: `CMetricFNRatFPR`, `CMetricTHatFPR`, `CMetricTPRatTH`, `CMetricFNRatTH`.
  docs/source/secml.ml.peval.metrics.rst
  src/secml/ml/peval/metrics/__init__.py
  src/secml/ml/peval/metrics/c_metric_fnr_at_fpr.py
  src/secml/ml/peval/metrics/c_metric_fnr_at_th.py
  src/secml/ml/peval/metrics/c_metric_th_at_fpr.py
  src/secml/ml/peval/metrics/c_metric_tpr_at_th.py
  src/secml/ml/peval/metrics/tests/test_metrics.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#853 Added new notebook tutorial with an application on Android Malware Detection.
  docs/source/index.rst
  docs/source/tutorials.app.rst
  docs/source/tutorials/13-Android-Malware-Detection.nblink
  tutorials/13-Android-Malware-Detection.ipynb
Due: package:docs, test:notebooks:py35:latest

#856 Fixed minor typos and code ordering for the new tutorial on Adversarial Malware Detection.
  tutorials/13-Android-Malware-Detection.ipynb
Due: package:docs, test:notebooks:py35:latest

#857 Temporarily pinned the minimum version of `pygments` as `2.4.1` for the documentation, to fix a readthedocs.org compilation issue.
  docs/requirements.txt
Due: package:docs

Fixed format error for plot_confusion_matrix when values is float
  src/secml/figure/_plots/c_plot_metric.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Adding new tutorial notebook, usage and attack of RobustBench
  tutorials/13-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Added image visualization at the end of the notebook
  tutorials/13-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Added diff to notebook to enhance perturbation
  tutorials/13-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Changed data loader to secml loader
  tutorials/13-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Renamed file, removed f-strings and using format instead
  tutorials/13-RobustBench.ipynb
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Added link in doc and updated toc-tree of tutorial.adv.rst
  docs/source/tutorials.adv.rst
  docs/source/tutorials/14-RobustBench.nblink
Due: package:docs

Fixed typo, removed last {} in notebook
  docs/source/tutorials.adv.rst
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

tox now installs robustbench as required for notebook 14-RobustBench.ipynb (limitedly to latest-notebooks env).
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

robustbench models are now downloaded in a proper folder (and not in the root of the tutorials). This should also make caching work properly.
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Fixed download path removing redundant subfolder "models". Also removed indications to the user path.
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Fixed section headers of notebook 14.
  tutorials/14-RobustBench.ipynb
Due: package:docs, test:notebooks:py35:latest

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
