Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Path conditions:
  test:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35-latest: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35-min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py36-min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py37-min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:zip: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:unzip: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:unzip-extras: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini

Resolve "Make poisoning attack classes use our optimizer `gradient-bls` as default"
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/adv/attacks/poisoning/tests/test_c_poisoning.py
  src/secml/ml/classifiers/gradients/tests/utils/clfs_creation/rej_clf_creation.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Further improvements to kNN, NearestCentroid, RF and DT.
  src/secml/ml/classifiers/c_classifier_decision_tree.py
  src/secml/ml/classifiers/c_classifier_knn.py
  src/secml/ml/classifiers/c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/c_classifier_random_forest.py
  src/secml/ml/classifiers/tests/test_c_classifier_knn.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Merge branch '505-stratifiedkfold-splitter-test-is-crashing-with-latest-sklearn-0-20-4-update' into 'develop'
  src/secml/data/splitter/tests/test_data_splitter.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Added control on sklearn classifiers - to check if it implements neither decision_function nor predict_proba (see, e.g., NearestCentroid)
  src/secml/ml/classifiers/c_classifier_sklearn.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Merged with latest changes in develop
  src/plot_classifier_comparison.py
  src/secml/figure/_plots/__init__.py
  src/secml/figure/_plots/c_plot_classifier.py
  src/secml/figure/_plots/c_plot_decision_function.py
  src/secml/figure/tests/test_cfigure.py
  src/secml/figure/tests/test_plot_classifier.py
  src/secml/figure/tests/test_plot_decision_function.py
  src/secml/ml/classifiers/c_classifier_decision_tree.py
  src/secml/ml/classifiers/c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/c_classifier_random_forest.py
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ova.py
  src/secml/ml/classifiers/reject/tests/test_c_classifier_reject.py
  src/secml/ml/classifiers/tests/c_classifier_testcases.py
  src/secml/ml/classifiers/tests/test_c_classifier_mcs_linear.py
  src/secml/ml/classifiers/tests/test_c_classifier_ridge.py
  src/secml/ml/classifiers/tests/test_c_classifier_sgd.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Patched Multiclass test
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ova.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Refactoring test_plot for classifiers
  src/secml/figure/tests/test_plot_classifier.py
  src/secml/figure/tests/test_plot_decision_function.py
  src/secml/ml/classifiers/tests/c_classifier_testcases.py
  src/secml/ml/classifiers/tests/test_c_classifier_kde.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Refactored test_plot for classifiers.
  src/secml/ml/classifiers/tests/c_classifier_testcases.py
  src/secml/ml/classifiers/tests/test_c_classifier_decision_tree.py
  src/secml/ml/classifiers/tests/test_c_classifier_knn.py
  src/secml/ml/classifiers/tests/test_c_classifier_logistic.py
  src/secml/ml/classifiers/tests/test_c_classifier_mcs_linear.py
  src/secml/ml/classifiers/tests/test_c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/tests/test_c_classifier_random_forest.py
  src/secml/ml/classifiers/tests/test_c_classifier_ridge.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Removed files which should not be merged.
  src/plot_classifier_comparison.py
  src/secml/ml/classifiers/multiclass/c_classifier_parallel.py.txt
  tutorials/01-Training.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Marge fixes and few dosctrings adjustments.
  src/secml/figure/_plots/__init__.py
  src/secml/figure/_plots/c_plot_ds.py
  src/secml/figure/tests/test_plot_classifier.py
  src/secml/ml/classifiers/c_classifier.py
  src/secml/ml/classifiers/c_classifier_linear.py
  src/secml/ml/classifiers/c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/multiclass/c_classifier_multi.py
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ova.py
  src/secml/ml/classifiers/reject/c_classifier_reject_threshold.py
  src/secml/ml/classifiers/reject/tests/test_c_classifier_reject.py
  src/secml/ml/classifiers/tests/c_classifier_testcases.py
  src/secml/ml/classifiers/tests/test_c_classifier_decision_tree.py
  src/secml/ml/classifiers/tests/test_c_classifier_kde.py
  src/secml/ml/classifiers/tests/test_c_classifier_knn.py
  src/secml/ml/classifiers/tests/test_c_classifier_logistic.py
  src/secml/ml/classifiers/tests/test_c_classifier_mcs_linear.py
  src/secml/ml/classifiers/tests/test_c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/tests/test_c_classifier_random_forest.py
  src/secml/ml/classifiers/tests/test_c_classifier_ridge.py
  src/secml/ml/classifiers/tests/test_c_classifier_sgd.py
  src/secml/ml/classifiers/tests/test_c_classifier_svm.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Figs are now stored in a separate folder by classifiers unittests.
  src/secml/ml/classifiers/tests/figs/.gitkeep
  src/secml/ml/classifiers/tests/test_c_classifier_decision_tree.py
  src/secml/ml/classifiers/tests/test_c_classifier_kde.py
  src/secml/ml/classifiers/tests/test_c_classifier_knn.py
  src/secml/ml/classifiers/tests/test_c_classifier_logistic.py
  src/secml/ml/classifiers/tests/test_c_classifier_mcs_linear.py
  src/secml/ml/classifiers/tests/test_c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/tests/test_c_classifier_random_forest.py
  src/secml/ml/classifiers/tests/test_c_classifier_ridge.py
  src/secml/ml/classifiers/tests/test_c_classifier_sgd.py
  src/secml/ml/classifiers/tests/test_c_classifier_svm.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Avoid sklearn warning about gamma parameter.
  src/secml/ml/classifiers/tests/test_c_classifier_sklearn.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Figs are now stored in a separate folder by classifiers unittests. Added levels to plot_decision_regions to avoid warnings when plotting classifiers having 0.5 as threshold.
  src/secml/figure/_plots/c_plot_classifier.py
  src/secml/figure/_plots/c_plot_fun.py
  src/secml/ml/classifiers/c_classifier_sklearn.py
  src/secml/ml/classifiers/tests/c_classifier_testcases.py
  src/secml/ml/classifiers/tests/test_c_classifier_decision_tree.py
  src/secml/ml/classifiers/tests/test_c_classifier_kde.py
  src/secml/ml/classifiers/tests/test_c_classifier_knn.py
  src/secml/ml/classifiers/tests/test_c_classifier_logistic.py
  src/secml/ml/classifiers/tests/test_c_classifier_mcs_linear.py
  src/secml/ml/classifiers/tests/test_c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/tests/test_c_classifier_random_forest.py
  src/secml/ml/classifiers/tests/test_c_classifier_ridge.py
  src/secml/ml/classifiers/tests/test_c_classifier_sgd.py
  src/secml/ml/classifiers/tests/test_c_classifier_svm.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Added get_params, getattribute and setattr functionality to CClassifierSkLearn
  src/secml/ml/classifiers/c_classifier_sklearn.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Improved docs of _decision_function
  src/secml/ml/classifiers/c_classifier.py
  src/secml/ml/classifiers/c_classifier_linear.py
  src/secml/ml/classifiers/c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/c_classifier_ridge.py
  src/secml/ml/classifiers/c_classifier_sgd.py
  src/secml/ml/classifiers/c_classifier_sklearn.py
  src/secml/ml/classifiers/c_classifier_svm.py
  src/secml/ml/classifiers/multiclass/c_classifier_multi_ova.py
  src/secml/ml/classifiers/tests/c_classifier_testcases.py
  src/secml/ml/classifiers/tests/test_c_classifier_sklearn.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Notebooks with tutorials for the end user"
  src/secml/adv/attacks/evasion/__init__.py
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/tests/_test_drebin.py
  src/secml/adv/attacks/evasion/tests/test_c_evasion.py
  src/secml/adv/attacks/evasion/tests/test_c_evasion_linear_L2.py
  src/secml/adv/attacks/evasion/tests/test_c_evasion_mnist.py
  src/secml/adv/attacks/evasion/tests/test_c_evasion_nonlinear_L2.py
  src/secml/adv/attacks/evasion/tests/test_evasion_multiclass.py
  src/secml/adv/attacks/evasion/tests/test_evasion_reject.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/adv/attacks/poisoning/tests/c_attack_poisoning_lin_test.py
  src/secml/adv/attacks/poisoning/tests/test_c_poisoning.py
  src/secml/adv/attacks/poisoning/tests/test_c_poisoning_blobs.py
  src/secml/adv/seceval/c_sec_eval.py
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
  src/secml/array/tests/test_c_array_utils_dataanalysis.py
  src/secml/figure/_plots/c_plot_classifier.py
  src/secml/figure/_plots/c_plot_ds.py
  src/secml/figure/tests/test_plot_classifier.py
  src/secml/ml/classifiers/c_classifier_ridge.py
  src/secml/ml/classifiers/c_classifier_sgd.py
  src/secml/ml/classifiers/gradients/tests/utils/clfs_creation/rej_clf_creation.py
  src/secml/optim/optimizers/__init__.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_ls.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_ls_discrete.py
  tutorials/01-Training.ipynb
  tutorials/02-Evasion.ipynb
  tutorials/03-Transferability.ipynb
  tutorials/04-Poisoning.ipynb
  tutorials/05-MNIST_dataset.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Update VERSION to 0.8-dev
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Updates to notebook 3"
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  tutorials/03-Transferability.ipynb
  tutorials/05-MNIST_dataset.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Test pypi upload"
  CHANGELOG.md
  README.md
  setup.py
  src/secml/VERSION
  src/secml/__init__.py
  tox.ini
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Initial commit
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#513 ~meta Added google analytics to docs.
  docs/source/conf.py
Due: none

#514 Status alpha badge in README.
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#515 Parameter `cache_size` of `CKernel.k()` is now `batch_size` to better represent its purpose. Default value is now `None` meaning that no batching is active by default.
  src/secml/ml/classifiers/tests/test_c_classifier_svm.py
  src/secml/ml/kernel/c_kernel.py
  src/secml/ml/kernel/c_kernel_chebyshev_distance.py
  src/secml/ml/kernel/c_kernel_euclidean.py
  src/secml/ml/kernel/c_kernel_hamming.py
  src/secml/ml/kernel/c_kernel_histintersect.py
  src/secml/ml/kernel/c_kernel_laplacian.py
  src/secml/ml/kernel/c_kernel_linear.py
  src/secml/ml/kernel/c_kernel_poly.py
  src/secml/ml/kernel/c_kernel_rbf.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#203 Added credits section to README.
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#517 Using Apache License 2.0 instead of GNU GPLv3
  LICENSE
  README.md
  setup.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Fixed link to pralab site.
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

Updated link to the bug tracker
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#518 Added affiliations for authors.
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#490 Added a tentative roadmap for future releases.
  README.md
  docs/source/index.rst
  docs/source/roadmap.rst
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

Updated few links.
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#520 Fixed `CSparse.std()` crash when `axis = None`.
  src/secml/array/c_sparse.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Multiple fixes related to doctests.
  src/secml/array/c_array.py
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
  src/secml/core/exceptions.py
  src/secml/data/c_dataset.py
  src/secml/ml/classifiers/clf_utils.py
  src/secml/ml/classifiers/loss/c_softmax.py
  src/secml/ml/features/normalization/c_normalizer_mean_std.py
  src/secml/ml/features/normalization/c_normalizer_minmax.py
  src/secml/ml/features/normalization/c_normalizer_unitnorm.py
  src/secml/ml/features/reduction/c_reducer_lda.py
  src/secml/ml/features/reduction/c_reducer_pca.py
  src/secml/ml/kernel/c_kernel.py
  src/secml/ml/kernel/c_kernel_chebyshev_distance.py
  src/secml/ml/kernel/c_kernel_euclidean.py
  src/secml/ml/kernel/c_kernel_hamming.py
  src/secml/ml/kernel/c_kernel_histintersect.py
  src/secml/ml/kernel/c_kernel_laplacian.py
  src/secml/ml/kernel/c_kernel_linear.py
  src/secml/ml/kernel/c_kernel_poly.py
  src/secml/ml/kernel/c_kernel_rbf.py
  src/secml/ml/peval/metrics/c_metric_f1.py
  src/secml/optim/optimizers/c_optimizer_scipy.py
  src/secml/utils/c_log.py
  src/secml/utils/dict_utils.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Updated docstrings of `adv` package.
  src/secml/adv/attacks/c_attack.py
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/adv/seceval/c_sec_eval.py
  src/secml/adv/seceval/c_sec_eval_data.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Updated more docstrings.
  src/secml/core/c_creator.py
  src/secml/optim/optimizers/c_optimizer.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Added link to list of packages in README.
  README.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

Push VERSION to 0.8-rc1
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras
