Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37

test:notebooks:py35:latest:
  stage: test
  needs:
  - package:docs
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e latest-notebooks
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:install:whl:py35:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

test:install:whl:py36:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

Changed docstring of `CUnitTest` class to be correctly rendered by sphinx.
  src/secml/testing/c_unittest.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Rewrite of many parts of the developers guide. Split in multiple files to properly render sections in sphinx.
  CONTRIBUTING.md
  docs/source/developers/contributing.code.rst
  docs/source/developers/contributing.extensions.classifiers.rst
  docs/source/developers/contributing.extensions.rst
  docs/source/developers/index.rst
  docs/source/index.rst
Due: package:docs

Renamed cclassifier extension guide.
  docs/source/developers/contributing.extensions.cclassifier.rst
  docs/source/developers/contributing.extensions.rst
Due: package:docs

final notebook vesion
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs, test:notebooks:py35:latest

update imagenet notebook
  tutorials/08-ImageNet.ipynb
Due: package:docs, test:notebooks:py35:latest

add pretrained = True (this has been changed in the last version of the library)
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs, test:notebooks:py35:latest

Added reference to notebook 11 in docs.
  docs/source/tutorials.adv.rst
  docs/source/tutorials/11-ImageNet_advanced.nblink
Due: package:docs

Updated notebook 11 to cleanup comments and code, tentative fix for int grads warning, prelloading of models in a separate section.
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs, test:notebooks:py35:latest

#698 Fixed `CAttackEvasionCleverhans` definition of `class_type`.
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Temporary fix for last figure in notebook 11 for CW attack. Currently the loss is not populated.
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs, test:notebooks:py35:latest

#697 Fixed unittests failing under numpy v1.18 due to a change in the errors raised by `genfromtxt`.
  src/secml/array/tests/test_c_ndarray.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '697-check-compatibility-with-numpy-1-18' into 'develop'
  src/secml/array/tests/test_c_ndarray.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

fix indexing in CClassifierPytorch forward
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch_dnn.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#700 Temporarily pinned `Pillow` to v6 to avoid breaking `torch` and `torchvision` packages.
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#701 Default value of `double_init` parameter in `CAttackEvasionPGDLS` set to True as originally intended.
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/seceval/c_sec_eval.py
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.11.2-rc1
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  docs/source/developers/contributing.code.rst
  docs/source/developers/contributing.extensions.cclassifier.rst
  docs/source/developers/contributing.extensions.rst
  docs/source/developers/index.rst
  docs/source/index.rst
  docs/source/secml.ml.classifiers.rst
  docs/source/tutorials.adv.rst
  docs/source/tutorials/11-ImageNet_advanced.nblink
  requirements.txt
  src/secml/VERSION
  src/secml/adv/attacks/c_attack.py
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
  src/secml/adv/seceval/c_sec_eval.py
  src/secml/ml/classifiers/c_classifier_dnn.py
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/testing/c_unittest.py
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/11-ImageNet_advanced.ipynb
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '702-changelog-for-v0-11-2' into 'release-v0.11.2'
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.11.2
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#705 Fixed few unittests of `CClassifierPyTorch` not being executed.
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch_conv.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch_dnn.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#703 Updated copyright notice in README.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#681 Fixed few typos in `CExplainerIntegratedGradients`.
  src/secml/explanation/c_explainer_integrated_gradients.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "COptimizerPGDLS: Correct computation of f(x) on init point after projection"
  src/secml/optim/optimizers/c_optimizer_pgd_ls.py
  tutorials/06-MNIST_dataset.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#711 Added a "How to cite SecML" section in README.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#710 Random seed in `CClassifierPyTorch` is now correctly applied also when running on the CuDNN backend.
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#712 `download_utils.dl_file()` will now use the filename stored in response's headers if available. The previous behavior (get the last part of the download url) will be used as a fallback.
  src/secml/utils/download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

`download_utils.dl_file()` now correctly manage the absence of the 'content-length' header from response.
  src/secml/utils/download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#586 Upstream branch used by `release:gitlab-repo` should now correctly exclude "-rcX" suffix.
  .gitlab-ci.yml
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#667 Fixed `download_utils.dl_file()` not removing url parameters from the name of the stored file.
  src/secml/utils/download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#715 `download_utils.dl_file()` now correctly manage the absence of the 'content-length' header from response.
  src/secml/utils/download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#712 Fixed case where `content-disposition` header is available but does not specify the filename. Fallback to standard method in that case.
  src/secml/utils/download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#50 Added unittests for `download_utils.dl_file` function using `requests_mock` (now installed by the `unittests` extra).
  setup.py
  src/secml/utils/tests/test_download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added tox/CI tests on python 3.8
  .gitlab-ci.yml
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Raise minimum requirements to be compatible with python 3.8
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

scipy 1.3.2 is now installed by tox.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

pytorch v1.4 is now installed for python 3.8 compatibility
  README.md
  setup.py
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#718 Added or revised the issue template for each type of issue.
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Direction.md
  .gitlab/issue_templates/DirectionFeature.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Improvement.md
  .gitlab/issue_templates/NewFeature.md
  .gitlab/issue_templates/Refactoring.md
Due: none

Resolve "CClassifierPytorch gradient is not correctly computed when softmax_outputs is True"
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch_blobs.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch_conv.py
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch_dnn.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#722 Added new optional parameter `headers` to `utils.download_utils.dl_file` function which allows specifying additional headers for the download request.
  src/secml/utils/download_utils.py
  src/secml/utils/tests/test_download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#666 Added new `utils.download_utils.dl_file_gitlab` function which allows downloading a file from a [gitlab.com](https://gitlab.com) repository, including branch and access token setting.
  src/secml/utils/download_utils.py
  src/secml/utils/tests/test_download_utils.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
