Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

package:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
  ...

package:docs:
  stage: package
  interruptible: true
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
  ...

test:py35:latest:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py35:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:py36:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py36

test:py37:min:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py37

test:notebooks:py35:latest:
  stage: test
  needs:
  - package:docs
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e latest-notebooks
  cache:
    paths:
    - $PIP_CACHE_DIR
    - $TORCH_HOME
    - $SECML_HOME_DIR
    key: test-cache-py35

test:install:whl:py35:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

test:install:whl:py36:
  stage: test
  needs:
  - package
  interruptible: true
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  ...

Update README.md
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Update requirements.txt
  requirements.txt
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#790 Fixed use of a wrong plural form of the word "information".
  docs/source/developers/index.rst
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
  src/secml/core/c_creator.py
  src/secml/data/c_dataset.py
  src/secml/data/c_dataset_header.py
  src/secml/ml/classifiers/c_classifier.py
  src/secml/ml/classifiers/multiclass/c_classifier_multi.py
  src/secml/ml/classifiers/reject/c_classifier_reject.py
  src/secml/ml/classifiers/reject/c_classifier_reject_threshold.py
  src/secml/ml/peval/metrics/c_metric.py
  src/secml/utils/c_log.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#789 Fixed notebook 4 not correctly generating a separate dataset for training the target classifiers.
  tutorials/04-Transferability.ipynb
Due: package:docs, test:notebooks:py35:latest

#791 Fixed `random_state` not set for `CClassifierDecisionTree` in notebook 4.
  tutorials/04-Transferability.ipynb
Due: package:docs, test:notebooks:py35:latest

#787 Fixed `argmin`->`argmax` typo in docstring of `CClassifierRejectThreshold.predict` method.
  src/secml/ml/classifiers/reject/c_classifier_reject_threshold.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#792 Removed basepython constraints from the following special tox envs: min, min-noextras, latest, latest-gpu, latest-notebooks, docs, build. Added print of python version for verification.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

fix CClassifier fit_forward
  src/secml/ml/classifiers/c_classifier.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#764 Added new triage policy to automatically update the version label based on assigned milestone.
  .gitlab-ci.yml
  .gitlab/triage-policies.yml
  .gitlab/triage_extra.rb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#785 Fixed constant override of `matplotlib` backend in `CFigure` on Windows systems.
  src/secml/figure/c_figure.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#788 Notebooks now include a warning about the required extra components (if any).
  tutorials/02-NeuralNetworks.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs, test:notebooks:py35:latest

#806 Documented `pytorch` extra component installation requirements under Windows.
  README.md
Due: package, package:docs, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Using `PIP_FIND_LINKS` in `tox.ini` to correctly install `pytorch` under windows.
  tox.ini
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added new `CClassifierMulticlassOVO` class implementing One-vs-One multiclass classification scheme.
  src/secml/ml/classifiers/multiclass/__init__.py
  src/secml/ml/classifiers/multiclass/c_classifier_multi_ovo.py
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ovo.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#809 Removed unnecessary definition of `host_url` from `triage-policies.yml`.
  .gitlab/triage-policies.yml
Due: none

Resolve "Security Evaluation on Cleverhans Attacks"
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
  src/secml/adv/seceval/c_sec_eval.py
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Poisoning: Make possible calling the function `objective_function` avoiding calling `_run` before"
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/tests/c_attack_poisoning_testcases.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Poisoning: the notebook does not show the objective function"
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/tests/c_attack_poisoning_testcases.py
  tutorials/05-Poisoning.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Add CAttackEvasionPGDExp to our attacks"
  src/secml/adv/attacks/__init__.py
  src/secml/adv/attacks/c_attack.py
  src/secml/adv/attacks/c_attack_mixin.py
  src/secml/adv/attacks/evasion/__init__.py
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls_multiclass.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls_reject_threshold.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/optim/optimizers/__init__.py
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/line_search/__init__.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect_proj.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added tests for PGD optimizer, and bug fixing on convergence stop condition (missing iteration index i).
  src/secml/adv/attacks/c_attack.py
  src/secml/adv/attacks/c_attack_mixin.py
  src/secml/adv/attacks/evasion/c_attack_evasion.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
  src/secml/adv/attacks/evasion/cleverhans/tests/test_c_attack_evasion_cleverhans.py
  src/secml/adv/attacks/evasion/cleverhans/tests/test_c_attack_evasion_cleverhans_mnist.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_exp.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls_mnist.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls_multiclass.py
  src/secml/adv/attacks/evasion/tests/test_c_attack_evasion_pgd_ls_reject_threshold.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/adv/attacks/poisoning/tests/c_attack_poisoning_testcases.py
  src/secml/adv/seceval/c_sec_eval.py
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
  src/secml/optim/optimizers/c_optimizer_pgd.py
  src/secml/optim/optimizers/c_optimizer_pgd_exp.py
  src/secml/optim/optimizers/line_search/c_line_search_bisect_proj.py
  src/secml/optim/optimizers/tests/c_optimizer_testcases.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd.py
  src/secml/optim/optimizers/tests/test_c_optimizer_pgd_exp.py
  tutorials/03-Evasion.ipynb
  tutorials/04-Transferability.ipynb
  tutorials/05-Poisoning.ipynb
  tutorials/06-MNIST_dataset.ipynb
  tutorials/07-NeuralNetworks-MNIST.ipynb
  tutorials/08-ImageNet.ipynb
  tutorials/09-Cleverhans.ipynb
  tutorials/11-ImageNet_advanced.ipynb
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Trying multiclass SVM with kernels
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Trying multiclass SVM with kernels
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Hooked kernel as preprocessor
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Hooked kernel as preprocessor
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

added alpha property
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added support for 2-class classification (with single training)
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

removed redundant SVs from kernel after training
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

removed some setters, added dual_store_vars
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added class_weight (only for binary)
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Added class_weight (only for binary)
  src/test_multiclass_svm.py
Due: none

fixing tests
  src/secml/ml/classifiers/__init__.py
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Re-introduced kernel setter to enable setting of kernel.gamma
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ova.py
  src/secml/ml/classifiers/multiclass/tests/test_c_classifier_multi_ovo.py
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/test_multiclass_svm.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

CKernel now preprocesses rv before storing internally
  src/secml/adv/seceval/tests/test_c_sec_eval_evasion.py
  src/secml/explanation/tests/test_c_explainer_influence_functions.py
  src/secml/ml/classifiers/gradients/tests/test_classes/c_classifier_gradient_test_svm.py
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/secml/ml/kernels/c_kernel.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Fixed poisoning.
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/ml/classifiers/gradients/tests/mixin_classifier_gradient_testcases.py
  src/secml/ml/classifiers/gradients/tests/test_classes/c_classifier_gradient_test_svm.py
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/secml/ml/kernels/c_kernel.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Fixed poisoning.
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/adv/attacks/poisoning/tests/c_attack_poisoning_testcases.py
  src/secml/adv/attacks/poisoning/tests/test_c_attack_poisoning_svm.py
  src/secml/ml/classifiers/gradients/tests/mixin_classifier_gradient_testcases.py
  src/secml/ml/classifiers/gradients/tests/test_classes/c_classifier_gradient_test_svm.py
  src/secml/ml/classifiers/sklearn/c_classifier_svm_m.py
  src/secml/ml/kernels/c_kernel_linear.py
Due: package, package:docs, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:notebooks:py35:latest, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py35:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py36:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:py37:min: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:notebooks:py35:latest: (not (any of: src/secml/VERSION)) and (any of: src/secml/**/*, tutorials/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini)
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
