Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

package:
  stage: package
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  - python setup.py bdist_wheel --universal
  - twine check dist/*
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
  ...

package:docs:
  stage: package
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python35-sphinx:latest
  script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  - tox -e docs
  - mv docs/build/html/ public/
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}_DOCS
    paths:
    - public
    expire_in: 1 day
  ...

test:py2:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:2
  script: tox -e py2-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py2

test:py35:latest:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py35

test:py35:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.5
  script: tox -e py35-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py35

test:py36:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.6
  script: tox -e py36-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py36

test:py37:min:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  image: python:3.7
  script: tox -e py37-min
  cache:
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
    key: test-cache-py37

test:install:whl:py2:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  image: python:2
  cache:
  ...

test:install:whl:py35:
  stage: test
  needs:
  - package
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - DIST_WHL=$(find $CI_PROJECT_DIR/dist -iname \*.whl -exec basename {} \;)
  - echo $DIST_WHL
  - pip install ${CI_PROJECT_DIR}/dist/${DIST_WHL}
  image: python:3.5
  cache:
  ...

#686 Replaced deprecated import of `interp` function from scipy namespace instead of numpy namespace.
  src/secml/array/c_dense.py
  src/secml/figure/tests/test_plot_roc.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

#687 Fixed reshaping of sparse arrays to vector-like when using Scipy v1.4.
  src/secml/array/c_sparse.py
  src/secml/array/tests/test_c_array_init.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '668-check-compatilbity-with-sklearn-0-22' into 'develop'
  src/secml/data/splitter/tests/test_data_splitter.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '673-run-schedules-based-on-rules' into 'develop'
  .gitlab-ci.yml
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '661-mention-the-model-zoo-in-readme' into 'develop'
  README.md
  docs/source/roadmap.rst
Due: package, package:docs, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '682-remove-unittests-from-code-coverage-report' into 'develop'
  setup.py
  tox.ini
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch '685-check-compatiblity-with-scipy-1-4' into 'develop'
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
  src/secml/array/tests/test_c_array_init.py
  src/secml/figure/tests/test_plot_roc.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.11.1-rc1
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve: "~regression CI jobs `test:install` not executed for stable or release branches"
  .gitlab-ci.yml
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Merge branch 'release-test' into 'develop'
  .gitlab-ci.yml
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.11.1-rc2
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

fix _return_best_solution
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

pep8
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

add documentation
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

fix doc
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

change doc
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

docs: bug report and new features
  docs/source/developers/index.rst
Due: package:docs

Release v0.11.1-rc2
  .gitlab-ci.yml
  README.md
  docs/source/roadmap.rst
  setup.py
  src/secml/VERSION
  src/secml/array/c_dense.py
  src/secml/array/c_sparse.py
  tox.ini
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Update CHANGELOG.md
  CHANGELOG.md
Due: package, package:docs, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Push VERSION to v0.11.1
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Release v0.11.1
  CHANGELOG.md
  src/secml/VERSION
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

docs: contributions to the backend
  docs/source/developers/index.rst
Due: package:docs

Fixed docstring formatting.
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Fixed **Local variable 'i' might be referenced before assignment**
  src/secml/optim/optimizers/c_optimizer_pgd.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

docs: checklist for contributions
  docs/source/developers/index.rst
Due: package:docs

docs: tests
  docs/source/developers/index.rst
Due: package:docs

docs: package, modules and classes conventions
  docs/source/developers/index.rst
Due: package:docs

docs: headings
  docs/source/developers/index.rst
Due: package:docs

#690 CI jobs `test:install` are now executed for "master" and "stable" branches.
  .gitlab-ci.yml
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Loss function for supported cleverhans attacks"
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans_losses.py
  src/secml/adv/attacks/evasion/cleverhans/tests/test_c_evasion_CW.py
  src/secml/adv/attacks/evasion/cleverhans/tests/test_c_evasion_cleverhans_2d.py
  src/secml/adv/attacks/evasion/cleverhans/tests/test_c_evasion_cross_entropy_loss.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Update docs/source/secml.ml.classifiers.rst
  docs/source/secml.ml.classifiers.rst
Due: package:docs

Resolve "Fix function count in `CAttackEvasionCleverhans`"
  src/secml/adv/attacks/evasion/cleverhans/c_attack_evasion_cleverhans.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

Resolve "Add comments about the attack statistics"
  src/secml/adv/attacks/c_attack.py
Due: package, package:docs, test:py2:min, test:py35:latest, test:py35:min, test:py36:min, test:py37:min, test:install:whl:py2, test:install:whl:py35, test:install:whl:py36, test:install:whl:py37, test:install:whl:extras:py2, test:install:whl:extras:py35, test:install:whl:extras:py36, test:install:whl:extras:py37

add notebook with the secml paper experiments
  tutorials/11-Attack_understanding.ipynb
Due: package:docs

plot the loss scaled
  tutorials/11-Attack_understanding.ipynb
Due: package:docs

rename notebook
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs

update notebook
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs

update the notebook
  tutorials/11-ImageNet_advanced.ipynb
Due: package:docs

Path conditions:
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  package:docs: any of: docs/**/*, tutorials/**/*, src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, README.md, requirements.txt, setup.py, tox.ini
  test:py2:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35:latest: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py36:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py37:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:install:whl:py2: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py2: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py35: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py36: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:whl:extras:py37: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
