Repository pralab/secml: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

test:min:
  stage: test
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  cache:
    key: test-cache-py2
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  image: python:2
  script: tox -e min

test:py35-latest:
  stage: test
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  cache:
    key: test-cache-py35
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  image: python:3.5
  script: tox -e py35
  allow_failure: true

test:py35-min:
  stage: test
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  cache:
    key: test-cache-py35
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  image: python:3.5
  script: tox -e py35-min
  allow_failure: true

test:py36-min:
  stage: test
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  cache:
    key: test-cache-py36
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  image: python:3.6
  script: tox -e py36-min
  allow_failure: true

test:py37-min:
  stage: test
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  - pip install tox
  cache:
    key: test-cache-py37
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  image: python:3.7
  script: tox -e py37-min
  allow_failure: true

package:
  stage: package
  image: ${CI_REGISTRY}/pralab/docker-helper-images/python2-setuptools:latest
  before_script:
  - echo $CI_PROJECT_DIR
  script:
  - python setup.py sdist --formats=zip
  artifacts:
    name: ${CI_PROJECT_NAME}_${CI_COMMIT_REF_NAME}
    paths:
    - ${CI_PROJECT_DIR}/dist/${CI_PROJECT_NAME}-*.zip

test:install:zip:
  cache:
    key: test-cache-py2
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  stage: test
  image: python:2
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - pip install ${CI_PROJECT_DIR}/dist/${CI_PROJECT_NAME}-*.zip

test:install:unzip:
  cache:
    key: test-cache-py2
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  stage: test
  image: python:2
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  script:
  - apt-get install -yq unzip > /dev/null
  - cd ${CI_PROJECT_DIR}/dist
  ...

test:install:unzip-extras:
  cache:
    key: test-cache-py2
    paths:
    - $CI_PROJECT_DIR/.cache/pip
    - $CI_PROJECT_DIR/secml-data
  stage: test
  image: python:2
  before_script:
  - echo $CI_PROJECT_DIR
  - python -V
  after_script:
  - python -c "import secml"
  - python -c "import secml.pytorch"
  - python -c "import secml.tf.clvhs"
  script:
  ...

Resolve "Minor updates needed for docs before v0.8 final"
  .gitlab-ci.yml
  README.md
  docs/source/conf.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/data/splitter/c_datasplitter.py
  src/secml/settings.py
  src/secml/utils/dict_utils.py
  tutorials/01-Training.ipynb
  update/0.3-to-0.4.md
  update/0.4-to-0.5.md
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Merge branch '521-minor-updates-needed-for-docs-before-v0-8-final' into 'develop'
  .gitlab-ci.yml
  README.md
  docs/source/conf.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/data/splitter/c_datasplitter.py
  src/secml/settings.py
  src/secml/utils/dict_utils.py
  tutorials/01-Training.ipynb
  update/0.3-to-0.4.md
  update/0.4-to-0.5.md
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Push VERSION to 0.8-rc2
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Updated to version v0.8-rc2
  README.md
  docs/source/conf.py
  src/secml/VERSION
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd.py
  src/secml/adv/attacks/evasion/c_attack_evasion_pgd_ls.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_logistic_regression.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_ridge.py
  src/secml/adv/attacks/poisoning/c_attack_poisoning_svm.py
  src/secml/data/splitter/c_datasplitter.py
  src/secml/settings.py
  src/secml/utils/dict_utils.py
  tutorials/01-Training.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Push version to v0.8
  CHANGELOG.md
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Release v0.8
  CHANGELOG.md
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Push VERSION to 0.9-dev0
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#525 ~meta Removed hardcoded reference to pragit in gitlab-ci script.
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#523 Fixed documentation not compiling under Sphinx v2.2.
  docs/source/conf.py
Due: none

#523 Updated docs requirements to avoid installing Sphinx 3 for compatibility.
  docs/requirements.txt
Due: none

#522 Now linking arXiv version of our papers.
  tutorials/02-Evasion.ipynb
  tutorials/04-Poisoning.ipynb
Due: none

#530 Fixed test envs not being runnable if pytest == v5.1 is installed.
  setup.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#529 Updated our roadmap accordingly to 0.9 release.
  docs/source/roadmap.rst
Due: none

Updated parameters of notebook 4.
  docs/source/conf.py
  tutorials/04-Poisoning.ipynb
Due: none

#524 Added a simple test for checking installation/configuration.
  src/secml/test_simple.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Release v0.8.1-rc1
  .gitlab-ci.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/roadmap.rst
  setup.py
  src/secml/VERSION
  src/secml/test_simple.py
  tutorials/02-Evasion.ipynb
  tutorials/04-Poisoning.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Release v0.8.1
  .gitlab-ci.yml
  CHANGELOG.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/roadmap.rst
  setup.py
  src/secml/VERSION
  src/secml/test_simple.py
  tutorials/02-Evasion.ipynb
  tutorials/04-Poisoning.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Release v0.8.1
  CHANGELOG.md
  src/secml/VERSION
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#543 Renamed few token variables in gitlab-ci script.
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#544 Using the new `alpine-release` docker helper image instead of the deprecated `alpine-curl`.
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#545 CI job `package:docs` is now run also after changes to tutorials.
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Use the "needs" keyword to run tests even if CI job "package:docs" has not completed yet"
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Rename `revert` method of CPreProcess to `inverse_transform`"
  src/secml/adv/attacks/evasion/tests/test_evasion_multiclass.py
  src/secml/adv/attacks/evasion/tests/test_evasion_reject.py
  src/secml/ml/features/c_preprocess.py
  src/secml/ml/features/normalization/c_normalizer_linear.py
  src/secml/ml/features/normalization/c_normalizer_unitnorm.py
  src/secml/ml/features/normalization/tests/test_c_normalizer_mean_std.py
  src/secml/ml/features/reduction/c_reducer_pca.py
  src/secml/ml/features/reduction/tests/test_c_reducer_pca.py
  src/secml/ml/features/tests/c_preprocess_testcases.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Add `twine check` run to `package` job to verify package compliance"
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#536 Added `CClassifierPytorch` to support Neural Networks (NNs) through [PyTorch](https://pytorch.org/) deep learning platform.
  .gitlab-ci.yml
  README.md
  docs/source/conf.py
  docs/source/roadmap.rst
  docs/source/secml.data.loader.rst
  docs/source/secml.data.rst
  docs/source/secml.ml.classifiers.rst
  docs/source/tutorials/06-NeuralNetworks.nblink
  docs/source/tutorials/07-ImageNet.nblink
  setup.py
  src/secml/data/c_dataset_pytorch.py
  src/secml/data/loader/__init__.py
  src/secml/data/loader/c_dataloader_pytorch.py
  src/secml/data/loader/tests/test_dataloader_pytorch.py
  src/secml/data/tests/test_c_dataset_pytorch.py
  src/secml/ml/classifiers/__init__.py
  src/secml/ml/classifiers/c_classifier_pytorch.py
  src/secml/ml/classifiers/gradients/__init__.py
  src/secml/ml/classifiers/gradients/mixin_classifier_gradient_pytorch.py
  src/secml/ml/classifiers/tests/test_c_classifier_pytorch.py
  src/secml/secml.conf
  src/secml/settings.py
  tox.ini
  tutorials/06-NeuralNetworks.ipynb
  tutorials/07-ImageNet.ipynb
  update/0.8-to-0.9.md
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#558 Fixed visualization of roadmap in docs.
  docs/source/roadmap.rst
Due: none

#557 Added changelog of version 0.8.1.
  CHANGELOG.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

#559 Deprecated functions and classes are now correctly visualized in the documentation.
  src/secml/core/decorators.py
  src/secml/ml/features/c_preprocess.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#559 Deprecated functions and classes are now correctly visualized in the documentation.
  src/secml/core/decorators.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#553 `CClassifierMCSLinear` is now deprecated. Use `CClassifierSkLearn` with `sklearn.ensemble.BaggingClassifier` instead.
  src/secml/ml/classifiers/c_classifier_mcs_linear.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#552 `CClassifierKDE` is now deprecated. Use `CClassifierSkLearn` with `sklearn.neighbors.KernelDensity` instead.
  src/secml/ml/classifiers/c_classifier_kde.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Improve visualization of images in Notebook 7"
  src/secml/figure/_plots/c_plot.py
  tutorials/06-NeuralNetworks.ipynb
  tutorials/07-ImageNet.ipynb
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#527 Added new ci job `release:pypi` and renamed current `release` job to `release:gitlab-releases`. Created new superjob `.release` which can be extended by jobs of stage `release`.
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

feat: get layers of big networks
  src/secml/ml/classifiers/c_classifier_pytorch.py
  src/secml/ml/classifiers/tests/test_c_classifier_pytorch.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

feat: get layers returns the layer names
  src/secml/ml/classifiers/c_classifier_pytorch.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

Resolve "Activate the ci job to automatically release the documentation"
  .gitlab-ci.yml
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#563 Classifiers are now moved to specific folders depending on the main dependency (`sklearn` or `pytorch` at the moment). Classes should be still imported from `ml.classifiers` package.
  src/secml/ml/classifiers/__init__.py
  src/secml/ml/classifiers/gradients/__init__.py
  src/secml/ml/classifiers/pytorch/__init__.py
  src/secml/ml/classifiers/pytorch/c_classifier_pytorch.py
  src/secml/ml/classifiers/pytorch/tests/__init__.py
  src/secml/ml/classifiers/pytorch/tests/figs/.gitkeep
  src/secml/ml/classifiers/pytorch/tests/test_c_classifier_pytorch.py
  src/secml/ml/classifiers/sklearn/__init__.py
  src/secml/ml/classifiers/sklearn/c_classifier_decision_tree.py
  src/secml/ml/classifiers/sklearn/c_classifier_knn.py
  src/secml/ml/classifiers/sklearn/c_classifier_logistic.py
  src/secml/ml/classifiers/sklearn/c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/sklearn/c_classifier_random_forest.py
  src/secml/ml/classifiers/sklearn/c_classifier_ridge.py
  src/secml/ml/classifiers/sklearn/c_classifier_sgd.py
  src/secml/ml/classifiers/sklearn/c_classifier_sklearn.py
  src/secml/ml/classifiers/sklearn/c_classifier_svm.py
  src/secml/ml/classifiers/sklearn/tests/__init__.py
  src/secml/ml/classifiers/sklearn/tests/figs/.gitkeep
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_decision_tree.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_knn.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_logistic.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_nearest_centroid.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_random_forest.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_ridge.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_sgd.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_sklearn.py
  src/secml/ml/classifiers/sklearn/tests/test_c_classifier_svm.py
Due: test:min, test:py35-latest, test:py35-min, test:py36-min, test:py37-min, package, test:install:zip, test:install:unzip, test:install:unzip-extras

#560 Updated development roadmap accordingly to 0.10, 0.11 and 0.12 releases.
  docs/source/roadmap.rst
Due: none

#550 Added deprecations to 0.8 to 0.9 update guide.
  README.md
  docs/source/index.rst
  docs/source/update.rst
  update/0.8-to-0.9.md
Due: package, test:install:zip, test:install:unzip, test:install:unzip-extras

Path conditions:
  test:min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35-latest: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py35-min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py36-min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  test:py37-min: any of: src/secml/**/*, .gitlab-ci.yml, requirements.txt, setup.py, tox.ini
  package: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:zip: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:unzip: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
  test:install:unzip-extras: any of: src/secml/**/*, .gitlab-ci.yml, CHANGELOG.md, MANIFEST.in, README.md, requirements.txt, setup.py, tox.ini
